body{
	background-image:url(concept.jpg);
	background-size: cover; 
}

.iris{
	text-align: right;
}
.match{
	color: white;
	background-color: green;
	background-position: center;
}
h1{
	color: white;
}
.sina{
	text-align: right;

}
p{
	color: white;
	margin-top: -250px;
}